{% extends 'hotel/base_page.html' %}
{% load static %}
{% block title %}Hotels{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'bootgrid/jquery.bootgrid.min.css' %}">
<script src="{% static 'bootgrid/jquery.bootgrid.min.js' %}"></script>
<script>
    function showRoom(roomId) {
        var url = "{% url 'roomList' 0 %}";
        window.location.href= url.replace('/0/', '/' + roomId + '/');
    }

    $('document').ready(function() {
        $('#list').bootgrid(
        {
            caseSensitive : false,
            formatters: {
                "link": function (column, row)
                {

                    return "<button class='btn btn-default' type='button' onClick='showRoom(" + row.id + ")'>Rooms</button>";
                }
            }
        });
    });
</script>
{% endblock %}

{% block heading %}Hotels list{% endblock %}
{% block content %}
    {% if hotels %}
        <table id="list" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th data-column-id="id" data-visible="false">Id</th>
                    <th data-column-id="Name" data-order="asc">Name</th>
                    <th data-column-id="Description">Opis</th>
                    <th data-column-id="Contect">Kontakt</th>
                    <th data-column-id="Address">Address</th>
                    <th data-formatter="link">Rooms</th>
                </tr>
            </thead>
            <tbody>
                {% for hotel in hotels %}
                    <tr>
                        <td>{{hotel.id}}</td>
                        <td>{{hotel.name}}</td>
                        <td>{{hotel.desc}}</td>
                        <td>{{hotel.contact.phone}}, {{hotel.contact.mail}}</td>
                        <td>{{hotel.address.city}}, {{hotel.address.street}}</td>
                        <td><button data-id="{{ hotel.id }}">List pokoi</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">
            <strong>No hotels</strong>
        </div>
    {% endif %}
{% endblock %}