{% extends 'hotel/base_panel.html' %}
{% load bootstrap3 %}
{% block title %}
Register
{% endblock %}

{% block panel_title %}
<span class="glyphicon glyphicon-pencil">Register</span>
{% endblock %}

{% block panel_body %}
<form action="{%url 'register' %}" method="{{registerForm.method}}">{% csrf_token %}
    {% bootstrap_form registerForm.form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary btn-block">
        Register
    </button>
    {% endbuttons %}
</div>
</form>
{% endblock %}