{% extends 'hotel/base_page.html' %}
{% load static %}
{% block title %}Invoices{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'bootgrid/jquery.bootgrid.min.css' %}">
<script src="{% static 'bootgrid/jquery.bootgrid.min.js' %}"></script>
<script>
    function showRoom(roomId) {
        var url = "{% url 'roomList' 0 %}";
        window.location.href= url.replace('/0/', '/' + roomId + '/');
    }

    $('document').ready(function() {
        $('#list').bootgrid(
        {
            caseSensitive : false,
            formatters: {
                "download": function (column, row)
                {
                    var url = "{% url 'invoice' 0 %}";
                    return "<a class='btn btn-default pull-right target='_blank' type='button' href='" + url.replace('0', row.id) + "'>Preview</a><a class='btn btn-primary pull-right' type='button' href='" + url.replace('0', row.id) + "' download>Download</a>";
                }
            }
        });
    });
</script>
{% endblock %}

{% block heading %}Invoices list{% endblock %}
{% block content %}
    {% if invoices %}
        <table id="list" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th data-column-id="Id" data-visible="false">Id</th>
                    <th data-column-id="Name" data-order="asc">Name</th>
                    <th data-column-id="Download" data-formatter="download"></th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{invoice.id}}</td>
                        <td>{{invoice.name}}</td>
                        <td data-formatter="download"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">
            <strong>No invoices</strong>
        </div>
    {% endif %}
{% endblock %}