{% extends 'hotel/base_page.html' %}
{% load static %}
{% block title %}Rooms' list{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'bootgrid/jquery.bootgrid.min.css' %}">
<script src="{% static 'bootgrid/jquery.bootgrid.min.js' %}"></script>
<script>
    $('document').ready(function() {
        $('#list').bootgrid({caseSensitive : false})
        .on('click.rs.jquery.bootgrid', function(e, columns, row) {
            console.log(row.id);
            var url = "{% url 'roomAvailabilty' hotel_id 0 %}";
            window.location.href = url.replace('0', row.id);
        });
    });
</script>
{% endblock %}

{% block heading %}Rooms' list{% endblock %}

{% block content %}
    {% if rooms%}
            <table id="list" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th data-column-id="id" data-visible="false">Id</th>
                        <th data-column-id="Nazwa" data-order="asc">Nazwa</th>
                        <th data-column-id="Opis">Opis</th>
                        <th data-column-id="Kontakt">Cena</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{room.id}}</td>
                            <td>{{room.name}}</td>
                            <td>{{room.desc}}</td>
                            <td>{{room.price}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% else %}
        Brak pokoi
    {% endif %}
{% endblock %}
